<!DOCTYPE html>
{%extends "data_manager/base.html"%}
{%block content%}

   <div class="jumbotron">
      <div class="container">
        <h2>So what is this site actually about?</h2>
        <h4>My name is William Fox and I have a series of projects of which I enjoy configuring and providing real time demos.  In addition, the site allows me to have an outlet for posting about my life without worrying about flooding social media regarding events that are often pointless on social platforms due to their nature, such a niche projects or uneventful thoughts.  Finally, I hope to expose my thoughts outside of my traditional circle of friends, while including my current circle, in order to gain more diversity in opinion. Therefore, I highly encourage you to comment on posts you find interesting to spark conversation! I hope you enjoy my site and that you will provide any constructive critiscism you can by <a href="/contact">contacting</a> me. </h4>
        <h2>Why is there such a hodge-podge of items on this site?</h2>
        <h4>I wanted to consolidate my life and a summary of it within a single location. Websites are great at presenting a large array of information in compartmentalized or fluid manners. Leveraging this allows for each section to be a cohesive unit while still being a part of the grand picture of who I am. Some of these projects could use their own domain, which may happen if they become very succesful. Until them, they have a home here, where I can keep a watchful eye over them.</h4>
        <h2>I like your projects/blog/images and would like to share them. How would I go about doing so?</h2>
        <h4>Sharing URL's is always acceptable and images can be posted (for non monetary gain) as long as attribution to the author is included next to the image. Blogs and articles can be quoted or utilized for other articles, as long as suitable attribution is provided to author within the article. Software Demo's and repository's are a case by case basis, in which the relevant License for each program must be consulted.  If a License is not provided with the project, assume it is proprietary and under development and <a href="/contact">contact</a> the developers for further clarificaiton. </h4>
        <p><a class="btn btn-info btn-lg" href="/favorite" role="button">Explore My Favorites of Deviant Wave! &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2> </h2>
          <p>  </p>
          <p>  </p>
        </div>
      </div>
  {%endblock%}
